# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
.idea/*.xml
.idea/
.DS_Store
examples/.DS_Store
examples/fraud_detection/.DS_Store
build/
src/cmake-build-debug/
build/
log/
cmake-build-debug/
third_party/MP-SPDZ/
third_party/libhcs/

# coordinator dependencies
pkg/*