apiVersion: v1
kind: PersistentVolume
metadata:
  name: STORAGE_NAME-pv
  labels:
    type: local
spec:
  storageClassName: STORAGE_NAME
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: RUNTIMELOG_PATH # change to nfs or others in real production
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: STORAGE_NAME-pvc
spec:
  storageClassName: STORAGE_NAME
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
