# Golang giignore
# Binaries for prograjobDB and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
falcon_platform

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)

# logs
*.log

# sqlite3 db
falcon.db
.falcon_runtime_resources/*
.falcon_partyserver/*
.falcon_partyserver_1/*
.falcon_partyserver_2/*
.falcon_partyserver_3/*
.falcon_partyserver_4/*
.falcon_partyserver_5/*