# Golang giignore
# Binaries for prograjobDB and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
falcon_platform

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)

# sqlite3 db
falcon.db

# dev_test
.dev_test